* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: IBM Plex Sans; */
}

.wrapper {
    min-height: 100vh;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.album-page {
    min-height: 50vh;
}

.album-page-title {
    grid-column: 2;
    color: black;
    place-self: center;
    text-align: center;
    font-size: 3rem;
    font-weight: lighter;
    font-family: Raleway;
}

.gallery-wrapper {
    /* border: solid red; */
    width: 100vw;
    padding: 5vh 0 5vh 0;
    margin: auto;
}

.gallery {
    /* border: solid blue; */
    display: grid;
    /* max-width: 60%; */
    margin: auto;
    row-gap: 5px;
    column-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 10px;
}

@media (width > 600px) {
    .gallery {
        max-width: 60%;
    }
}

.gallery-image {
    height: 280px;
    width: 280px;
    background: black;
    place-self: center;
    object-fit: cover;
}

.album-next-previous {
    height: 20vh;
    display: grid;
    grid-template-columns: 1fr 15% 1fr;
    font-family: Raleway;
    font-size: 1.3rem;
}

.album-next-previous a {
    text-decoration: none;
    color: black;
}

.album-next-previous a:hover {
    color: silver;
}

.previous-wrapper {
    grid-column: 1;
    place-self: center;
}

.next-wrapper {
    grid-column: 3;
    place-self: center;
}
