
.top-navigation {
    position: fixed;
    width: 100vw;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: all 0.2s;
    background-color: white;
    z-index: 10;
    opacity: 0;
}

.top-navigation-list {
    display: grid;
    grid-template-columns: 30% 1fr 1fr 1fr 1fr 30%;
    text-align: center;
    list-style-type: none;
}

.top-navigation button {
    text-decoration: none;
    color: black;
    font-size: 1.4rem;
    background-color: white;
    border: none;
    padding: 0 15px 0  15px;
    font-family: Raleway;
    cursor: pointer;

}

.top-navigation a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    background-color: white;
    border: none;
    padding: 0 15px 0  15px;
    font-family: Raleway;
}

.top-navigation button:hover {
    color: silver;
}

.top-navigation a:hover {
    color: silver;
}

.top-nav-one {
    grid-column: 2;
    place-self: center stretch;
}
.top-nav-two {
    grid-column: 3;
    place-self: center stretch;
}
.top-nav-three {
    grid-column: 4;
    place-self: center stretch;
}
.top-nav-four {
    grid-column: 5;
    place-self: center stretch;
}

.show {
    opacity: 100;
}

@media (width <= 768px) {
    .top-navigation-list {
        grid-template-columns: 1% 1fr 1fr 1fr 1fr 1%;
    }
}
